In [23]:
import requests
import pandas as pd

coach_url = "http://127.0.0.1:8000/get_all_coaches/"
response = requests.get(coach_url)
coach_data = response.json()
coach_df = pd.DataFrame(coach_data)


schedule_url = "http://127.0.0.1:8000/get_schedules/"
response = requests.get(schedule_url)
schedule_data = response.json()
schedule_df = pd.DataFrame(schedule_data)

print("Coach Data")
print(coach_df.head())
print("\nSchedule Data")
print(schedule_df.tail())

Coach Data
  username hashed_password  id   role   type               email    location
0   user_1      password_1   1  admin  coach  user_1@example.com      Kirehe
1   user_2      password_2   2  admin  coach  user_2@example.com  Nyarugenge
2   user_3      password_3   3  admin  coach  user_3@example.com    Gisagara
3   user_4      password_4   4  admin  coach  user_4@example.com      Burera
4   user_5      password_5   5  admin  coach  user_5@example.com       Ngoma

Schedule Data
            id                                  exercises_details  coach_id  \
499995  499996  Bodyweight exercise to strengthen the chest, s...       217
499996  499997  Bodyweight exercise to strengthen the chest, s...       105
499997  499998  Bodyweight exercise to strengthen the chest, s...       219
499998  499999  Mind and body practice to improve flexibility ...       130
499999  500000  Bodyweight exercise to strengthen the chest, s...       258

       exercises  cost_per_hour
499995  Push-Ups            0.0
499996  Push-Ups            0.0
499997  Push-Ups            0.0
499998      Yoga         2000.0
499999  Push-Ups            0.0

In [24]:

merged_df = pd.merge(schedule_df, coach_df, left_on="coach_id", right_on="id", how="inner")

merged_df = merged_df.drop(columns=["hashed_password", "exercises_details"])

print("Merged Data")
print(merged_df.head())

Merged Data
   id_x  coach_id exercises  cost_per_hour  username  id_y   role   type  \
0     1       378      Yoga         2000.0  user_378   378  admin  coach
1     2       386  Push-Ups            0.0  user_386   386  admin  coach
2     3        30    Squats            0.0   user_30    30  admin  coach
3     4       129    Squats            0.0  user_129   129  admin  coach
4     5       227  Push-Ups            0.0  user_227   227  admin  coach

                  email location
0  user_378@example.com   Nyanza
1  user_386@example.com  Rulindo
2   user_30@example.com  Kamonyi
3  user_129@example.com  Nyabihu
4  user_227@example.com  Gakenke

In [25]:
# QUIZ QUESTION 1
# Return 500000 rows from your dataset

print(merged_df.shape)

(500000, 10)

In [26]:
# QUIZ QUESTION 2
# Describe your dataset

print("Shape of the merged DataFrame:", merged_df.shape)

print("\nDescription of the merged DataFrame:\n")
print(merged_df.describe())

Shape of the merged DataFrame: (500000, 10)

Description of the merged DataFrame:

                id_x       coach_id  cost_per_hour           id_y
count  500000.000000  500000.000000  500000.000000  500000.000000
mean   250000.500000     250.772938     667.352000     250.772938
std    144337.711634     144.399521     943.052006     144.399521
min         1.000000       1.000000       0.000000       1.000000
25%    125000.750000     126.000000       0.000000     126.000000
50%    250000.500000     251.000000       0.000000     251.000000
75%    375000.250000     376.000000    2000.000000     376.000000
max    500000.000000     500.000000    2000.000000     500.000000

In [27]:
# QUIZ QUESTION 3
# Find and replace null values from your dataset

print("Null values in each column:")
print(merged_df.isnull().sum())

merged_df['exercises'] = merged_df['exercises'].fillna("Unknown")  
merged_df['cost_per_hour'] = merged_df['cost_per_hour'].fillna(merged_df['cost_per_hour'].mean())  

print("\nNull values after replacement:")
print(merged_df.isnull().sum())

print("\nDataset after replacing null values:")
print(merged_df.head())

Null values in each column:
id_x             0
coach_id         0
exercises        0
cost_per_hour    0
username         0
id_y             0
role             0
type             0
email            0
location         0
dtype: int64

Null values after replacement:
id_x             0
coach_id         0
exercises        0
cost_per_hour    0
username         0
id_y             0
role             0
type             0
email            0
location         0
dtype: int64

Dataset after replacing null values:
   id_x  coach_id exercises  cost_per_hour  username  id_y   role   type  \
0     1       378      Yoga         2000.0  user_378   378  admin  coach
1     2       386  Push-Ups            0.0  user_386   386  admin  coach
2     3        30    Squats            0.0   user_30    30  admin  coach
3     4       129    Squats            0.0  user_129   129  admin  coach
4     5       227  Push-Ups            0.0  user_227   227  admin  coach

                  email location
0  user_378@example.com   Nyanza
1  user_386@example.com  Rulindo
2   user_30@example.com  Kamonyi
3  user_129@example.com  Nyabihu
4  user_227@example.com  Gakenke

In [28]:
# QUIZ QUESTION 4
# Perform basic data processing


print("Data before One-Hot Encoding:\n")
print(merged_df.head())

merged_df = pd.get_dummies(merged_df, columns=['location'], prefix='location')

print("Data after One-Hot Encoding:\n")
merged_df.head()

Data before One-Hot Encoding:

   id_x  coach_id exercises  cost_per_hour  username  id_y   role   type  \
0     1       378      Yoga         2000.0  user_378   378  admin  coach
1     2       386  Push-Ups            0.0  user_386   386  admin  coach
2     3        30    Squats            0.0   user_30    30  admin  coach
3     4       129    Squats            0.0  user_129   129  admin  coach
4     5       227  Push-Ups            0.0  user_227   227  admin  coach

                  email location
0  user_378@example.com   Nyanza
1  user_386@example.com  Rulindo
2   user_30@example.com  Kamonyi
3  user_129@example.com  Nyabihu
4  user_227@example.com  Gakenke
Data after One-Hot Encoding:

,id_x,coach_id,exercises,cost_per_hour,username,id_y,role,type,email,location_Bugesera,...,location_Nyamasheke,location_Nyanza,location_Nyarugenge,location_Nyaruguru,location_Rubavu,location_Ruhango,location_Rulindo,location_Rusizi,location_Rutsiro,location_Rwamagana
0,1,378,Yoga,2000.0,user_378,378,admin,coach,user_378@example.com,False,...,False,True,False,False,False,False,False,False,False,False
1,2,386,Push-Ups,0.0,user_386,386,admin,coach,user_386@example.com,False,...,False,False,False,False,False,False,True,False,False,False
2,3,30,Squats,0.0,user_30,30,admin,coach,user_30@example.com,False,...,False,False,False,False,False,False,False,False,False,False
3,4,129,Squats,0.0,user_129,129,admin,coach,user_129@example.com,False,...,False,False,False,False,False,False,False,False,False,False
4,5,227,Push-Ups,0.0,user_227,227,admin,coach,user_227@example.com,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
# QUIZ QUESTION 5
# Create some features in your dataset


def price_category(price):
    if price < 3000:
        return 'Low'
    elif 3000 <= price < 6000:
        return 'Medium'
    else:
        return 'High'

merged_df['price_category'] = merged_df['cost_per_hour'].apply(price_category)

print("Processed Data with New Feature:")
print(merged_df[['cost_per_hour', 'price_category']].tail())

Processed Data with New Feature:
        cost_per_hour price_category
499995            0.0            Low
499996            0.0            Low
499997            0.0            Low
499998         2000.0            Low
499999            0.0            Low

In [33]:
# QUIZ QUESTION 4
old_df = pd.read_csv("merged_data.csv")
# shape before concatenation
print(merged_df.shape)

combined_df = pd.concat([old_df, merged_df], axis=0, ignore_index=True)
# Showing the combined data
print(combined_df.shape)

(500000, 40)
(500100, 40)